<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><% if current_page.data.title %><%= current_page.data.title %> | <% end %><%= config[:site_name] || 'My Site' %></title>
    <%= stylesheet_link_tag 'index.bundle' %>
    <%= javascript_include_tag 'head.bundle' %>
  </head>
  <body class="<%= page_classes %> grid-container fluid">
    <header id="site-header" class="grid-x grid-padding-x align-middle">
      <figure class="large-1 small-4 cell"><%= image_tag 'logo.svg', width: '100px', height: '100px', alt: 'Logo' %></figure>
      <h1 class="large-auto small-8 cell">
        <%= config[:site_name] %>
      </h1>
      <section class="large-3 small-12 cell call-out">
        <span><%= phone_number('5551234567', linkify: true) %></span>
        <span>Call now!</span>
      </section>
    </header>
    <nav id="main-nav" class="grid-x grid-padding-x">
      <li class="large-auto medium-3 small-6 cell"><%= link_to 'Home', 'index.html' %></li>
      <li class="large-auto medium-3 small-6 cell"><%= link_to 'About', 'about.html' %></li>
      <li class="large-auto medium-3 small-6 cell"><%= link_to 'Services', 'services.html' %></li>
      <li class="large-auto medium-3 small-6 cell"><%= link_to 'Contact Us', 'contact.html' %></li>
    </nav>

    <%= yield %>

    <footer id="site-footer" class="grid-x grid-padding-x align-middle">
      <nav class="links large-auto cell">
        <li><%= link_to 'Home', 'index.html' %></li>
        <li><%= link_to 'About', 'about.html' %></li>
        <li><%= link_to 'Services', 'services.html' %></li>
        <li><%= link_to 'Contact Me', 'contact.html' %></li>
      </nav>
    </footer>

    <%= javascript_include_tag 'index.bundle' %>
    <%= yield_content :js_assets %>
  </body>
</html>
