<footer id="site-footer" class="grid-x grid-padding-x align-middle">
  <nav class="links large-4 medium-6 small-auto cell">
    <h1>Sitemap</h1>
    <ul>
      <li><%= link_to 'Home', 'index.html' %></li>
      <li><%= link_to 'About', 'about.html' %></li>
      <li><%= link_to 'Services', 'services.html' %></li>
      <li><%= link_to 'Contact Me', 'contact.html' %></li>
    </ul>
  </nav>
  <section class="disclaimer large-4 medium-6 small-auto cell">
    <h1>Disclaimer</h1>
    <p><%= lorem.paragraph %></p>
  </section>
</footer>
