<footer id="site-footer" class="grid-x grid-padding-x align-middle">
  <nav class="links large-4 medium-6 small-auto cell">
    <h1>Sitemap</h1>
    <ul>
      <li><%= link_to 'News', 'index.html' %></li>
      <li><%= link_to 'About', 'about.html' %></li>
      <li><%= link_to 'Donate', 'give.html' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/GrafeasGroup' %></li>
    </ul>
  </nav>
  <section class="thanks large-4 medium-6 small-auto cell">
  </section>
  <section class="disclaimer large-4 medium-6 small-auto cell">
    <h1>Disclaimer</h1>
    <p>Grafeas Group, Ltd. is a registered 501(c)(3) nonprofit in the state of Indiana, U.S.A. Continued use of content associated with Grafeas Group indicates acceptance of our <%= link_to 'terms of service', 'tos.html' %>.</p>
  </section>
</footer>
